.benchmark-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 900px;
    margin-top: 200px;
    padding-top: 30px;
    background-color: #dadadd;
}

.survey-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    margin-right: 100px;
}

.survey-container p {
    text-align: justify;
    font-size: 16px;
    color: #4f5665;
    max-width: 360px;
}

.survey-container h3 {
    max-width: 400px;
    margin-bottom: 5px;
}

.select {
    width: 400px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.survey-title {
    color: #f53838;
    font-size: 2.7rem;
    font-weight: 600;
    text-align: left;
}

.calculate-btn {
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 1em 4.5em;
    background: #f53838;
    border: 2px solid #f53838;
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 20px 5px #f5383836, 0 10px 20px 5px #f538382a;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
    max-width: 400px;
    margin: 50px 0px;
}

.calculate-btn:hover {
    background-color: white;
    border: 2px solid #f53838;
    color: #f53838;
    box-shadow: 0 10px 20px 5px #f53838a1, 0 10px 20px 5px #f5383877;
}

.calculate-btn:focus {
    box-shadow: 0 10px 20px 5px #f53838a1, 0 10px 20px 5px #f5383877;
}

.calculate-btn:active {
    background-color: white;
    border: 2px solid #f53838;
    color: #f53838;
    box-shadow: 0 10px 20px 5px #f53838a1, 0 10px 20px 5px #f5383877;
    transform: translateY(2px);
}

.no-result-img {
    margin-left: 100px;
}

@media (max-width: 680px) {
    .benchmark-container {
        flex-direction: column-reverse;
        width: 100vw;
        margin-top: -20px;
        margin-bottom: 20px;
        padding-top: 0px;
        height: 100%;
        margin-right: 0px;
    }
    .survey-container {
        margin-right: 0px;
        align-items: center;
    }
    .no-result-img {
        margin-left: 0px;
        width: 220px;
    }
    .survey-title {
        color: #f53838;
        font-size: 1.5rem;
        max-width: 200px;
    }
    .survey-container p {
        font-size: 13px;
        max-width: 60%;
        margin: 0;
    }
    .select {
        width: 220px;
        margin-bottom: 0px;
        height: 35px;
        font-size: 12px;
    }
    .survey-container h3 {
        font-size: 16px;
        max-width: 400px;
        margin-bottom: 5px;
    }
    .calculate-btn {
        max-width: 220px;
        height: 50px;
        margin: 40px 0px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

.benchmark-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 900px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #dadadd;

}

    .survey-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: top;
        margin-right: 0px;
    }


.no-result-img {
    margin-left: 0px;
    width: 420px;
}

.benchmark-container h3 {
    max-width: auto;
    margin-bottom: 5px;
    align-self: center;
}


}