.benchmark-container,
.benchmark-container-company,
.benchmark-container-talent {
    width: 100%;
}

.benchmark-container-company, .benchmark-container-talent {
    margin-bottom: -3rem;
}

.survey-title,
.survey-title-company,
.survey-title-talent {
    font-size: 2.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    text-align: left;
    transition: 0.3s;
}

.survey-title {
    color: #3bbcb0;
}
.survey-title-company {
    color: #a729d2;
}
.survey-title-talent {
    color: #007eff;
}
.survey-p {
    text-align: justify;
    font-size: 1em;
    color: #4f5665;
}

.select {
    max-width: 450px;
    margin-bottom: 10px;
    height: 50px;
    border: none;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
}

.cancel-btn,
.cancel-btn-company,
.cancel-btn-talent {
    box-sizing: border-box;
    padding: 1em 1em 1em;
    border-radius: 39px;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
    max-width: 400px;
    margin: 5% 5px;
}

.cancel-btn {
    background: white;
    border: 3px solid #3bbcb0;
    color: #3bbcb0;
}
.cancel-btn-company {
    background: white;
    border: 3px solid #a729d2;
    color: #a729d2;
}
.cancel-btn-talent {
    background: white;
    border: 3px solid #007eff;
    color: #007eff;
}

.cancel-btn:hover,
.cancel-btn-company:hover,
.cancel-btn-talent:hover,
.cancel-btn:focus,
.cancel-btn-company:focus,
.cancel-btn-talent:focus,
.cancel-btn:active,
.cancel-btn-company:active,
.cancel-btn-talent:active {
    background-color: white;
    border: 3px solid red;
    color: red;
}
.cancel-btn:active,
.cancel-btn-company:active,
.cancel-btn-talent:active {
    transform: translateY(4px);
}

.calculate-btn,
.calculate-btn-company,
.calculate-btn-talent {
    box-sizing: border-box;
    padding: 1em 3.2em;
    border-radius: 39px;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
    width: 60%;
    margin: 5% 5px;
}

.calculate-btn {
    background: #3bbcb0;
    border: 3px solid #3bbcb0;
    color: white;
}
.calculate-btn-company {
    background: #a729d2;
    border: 3px solid #a729d2;
    color: white;
}
.calculate-btn-talent {
    background: #007eff;
    border: 3px solid #007eff;
    color: white;
}

.calculate-btn:hover,
.calculate-btn:active {
    background-color: white;
    border: 3px solid #3bbcb0;
    color: #3bbcb0;
}
.calculate-btn:active {
    transform: translateY(4px);
}

.calculate-btn-company:hover,
.calculate-btn-company:active {
    background-color: white;
    border: 3px solid #a729d2;
    color: #a729d2;
}
.calculate-btn-company:active {
    transform: translateY(4px);
}

.calculate-btn-talent:hover,
.calculate-btn-talent:active {
    background-color: white;
    border: 3px solid #007eff;
    color: #007eff;
}
.calculate-btn-talent:active {
    transform: translateY(4px);
}

.result-content {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    width: 100%;
}

.no-result-img {
    width: 100%;
    max-width: 450px;
}
.mention {
    font-size: 10px;
    margin-top: 8%;
    font-style: italic;
    color: #4f5665;
}

.graph-title,
.graph-title-talent,
.graph-title-company {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

.graph-title {
    color: #382f3b;
}
.graph-title-talent {
    color: #382f3b;
}
.graph-title-company {
    color: #382f3b;
}

.graph-container {
    width: 35em;
    background-color: white;
    border: 1.9px solid #c4c4c4;
    border-radius: 10px;
    padding: 5px;
}

@media screen and (min-width: 1100px) {
    .result-content {
        align-items: flex-start;
    }
    .no-result-img {
        margin-top: 5%;
    }
    .graph-container {
        margin-top: 10%;
    }
}

@media screen and (min-width: 821px) {
    .benchmark-container,
    .benchmark-container-company,
    .benchmark-container-talent {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: top;
        padding: 0 10% 5% 10%;
    }
    .benchmark-title {
        width: 100%;
        padding: 0 10% 0 10%;
    }
    .survey-container {
        width: 80%;
    }
    .survey-content {
        grid-column-start: 1;
        display: flex;
        justify-content: left;
        align-items: center;
    }
}

@media screen and (max-width: 1083px) {
    .graph-container {
        width: 25em;
    }
}

@media screen and (max-width: 850px) {
    .benchmark-title {
        margin-top: 5%;
    }
}

@media screen and (min-width: 821px) and (max-width: 1100px) {
    .result-content {
        align-items: center;
    }
}

@media screen and (max-width: 820px) {
    .benchmark-container,
    .benchmark-container-company,
    .benchmark-container-talent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3% 15% 3%;
    }

    .graph-container {
        width: 80%;
        margin-top: 5%;
    }
    .survey-container {
        width: 100%;
    }
    .survey-title,
    .survey-title-company,
    .survey-title-talent {
        font-size: 2.2rem;
    }
    .survey-p {
        font-size: 13px;
    }
    .survey-container h3 {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .select {
        width: 100%;
        margin-bottom: 10px;
        height: 35px;
        font-size: 12px;
    }
}

@media screen and (min-width: 550px) and (max-width: 820px) {
    .benchmark-title {
        display: flex;
        flex-direction: column;
        padding: 0 10% 0 10%;
        margin-left: 5%;
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .graph-container {
        width: 100%;
    }
    .benchmark-title {
        display: flex;
        flex-direction: column;
        padding: 0 10% 0 10%;
        margin-left: 0%;
        width: 100%;
    }
}
