* {
    border: 1px solid rebeccapurple;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -11rem;
    padding: 11rem 15% 3rem 15%;
    background-color: black;
    color: white;
}

.footer-wrapper-lj {
    display: flex;
    justify-content: space-between;
    margin-top: -14%;
    padding-top: 11%;
    padding-bottom: 3%;
    padding-left: 13%;
    padding-right: 13%;
    background-color: black;
    color: white;
}

.footer-left {
    width: 30%;
}

.landing-jobs-details {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}

.lj-logo-footer {
    width: 15.5rem;
    margin-bottom: 1em;
}

.footer-text {
    color: white;
}

.social-icons-desktop {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
}

.social-icons-mobile {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.copyright-desktop {
    font-size: 1rem;
    line-height: 30px;
    color: #afb5c0;
}

.copyright-mobile {
    margin-top: 30%;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #afb5c0;
}

.footer-link,
.footer-link:visited,
.footer-link:hover,
.footer-link:active {
    text-decoration: none;
    color: white;
}

@media (min-width: 768px) {
    .end-footer-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .footer-wrapper,
    .footer-wrapper-grey {
        flex-direction: column;
    }

    .footer-left {
        width: 100%;
    }

    .social-icons-desktop {
        display: none;
    }
    .copyright-desktop {
        display: none;
    }
    .footer-title {
        margin-top: 20%;
    }
}

/*Tablet Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
    .lj-logo-footer {
        width: 90%;
    }
    .social-icons-desktop {
        margin-top: 10%;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}

/*Tablet Landscape*/
@media only screen and (min-device-width: 901px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .lj-logo-footer {
        width: 70%;
    }
    .social-icons-desktop {
        margin-top: 10%;
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
}
