.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: -14%;
    padding-top: 11%;
    padding-bottom: 3%;
    padding-left: 13%;
    padding-right: 13%;
    background-color: black;
    color: white;
}

.footer-wrapper-grey {
    display: flex;
    justify-content: space-between;
    margin-top: -14%;
    padding-top: 11%;
    padding-bottom: 3%;
    padding-left: 13%;
    padding-right: 13%;
    background-color: #26333c;
    color: white;
}

.footer-left {
    width: 30%;
}

.lj-logo-footer {
    width: 60%;
    margin-left: -5%;
    margin-bottom: 5%;
}

.footer-text {
    color: white;
}

.social-icons-desktop {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.social-icons-mobile {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.copyright-desktop {
    font-size: 16px;
    line-height: 30px;
    color: #afb5c0;
}

.copyright-mobile {
    margin-top: 30%;
    font-size: 16px;
    line-height: 10px;
    color: #afb5c0;
}

.footer-link,
.footer-link:visited,
.footer-link:hover,
.footer-link:active {
    text-decoration: none;
    color: white;
}

@media (min-width: 768px) {
    .end-footer-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .footer-wrapper,
    .footer-wrapper-grey {
        flex-direction: column;
    }

    .footer-left {
        width: 100%;
    }

    .social-icons-desktop {
        display: none;
    }
    .copyright-desktop {
        display: none;
    }
    .footer-title {
        margin-top: 20%;
    }
}
