.subscribe-container {
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.subscribe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    width: 70%;
    padding: 30px 50px;
}

.subscribe-text h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #0b132a;
    margin-top: 0;
}

.subscribe-text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    margin: 0;
}

.subscribe-btn-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

.subscribe-btn {
    width: 250px;
    height: 60px;
    left: 975px;
    top: 1927.5px;
    background: #ffffff;
    border: 2px solid #f53838;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 30px 35px -13px rgba(245, 56, 56, 0.35);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #f53838;
}
