div.profiles {
    display: grid;
    place-content: center;
    margin: 0 auto;
    text-align: left;
}

.profiles-container {
    box-sizing: border-box;
    height: 40vh;
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    padding: 10% 15%;
    text-align: left;
}

.profile-card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.6fr;
    padding: 5% 5%;
    justify-items: start;
    grid-gap: 0.6em;
    position: relative;
    box-shadow: 0px 20px 20px -7px rgba(179, 179, 179, 0.35);
}

.profile-title,
.profile-img {
    margin: 0;
}

.profile-title {
    color: #f53838;
    font-size: 2rem;
    font-weight: 600;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
}

.profile-content {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
    font-size: 18px;
    line-height: 25px;
}

.profile-img {
    grid-column: 2/ 3;
    grid-row: 1/ -1;
    position: absolute;
    bottom: -10px;
    height: 100%;
    left: -20px;
}

.bttn-get-started {
    margin-top: 0;
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 270px;
    padding: 15px 30px;
    border: 2px solid #f53838;
    background: #f53838;
    border-radius: 10px;
    color: white;
    border: unset;
    box-shadow: 0 15px 20px 5px #f5383836, 0 10px 20px 5px #f538382a;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    white-space: nowrap;
    transition: 0.3s;
}

.bttn-get-started:hover,
.bttn-get-started:focus {
    margin-top: 0;
    box-sizing: border-box;
    background-color: white;
    font-weight: bold;
    border: 2px solid #f53838;
    color: #f53838;
    box-shadow: 0 10px 20px 5px #f53838a1, 0 10px 20px 5px #f5383877,
        0 3px 20px 5px #f5383849;
    transition: 0.3s;
}

.bttn-get-started:active {
    margin-top: 0;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #f53838;
    color: #f53838;
    box-shadow: 0 10px 20px 5px #f53838a1, 0 10px 20px 5px #f5383877;
    transform: translateY(2px);
    transition: 0.3s;
}
