.profiles {
    position: relative;
}

.profiles-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    margin-top: -15vh;
    margin-bottom: -65vh;
    padding-left: 8%;
    padding-top: 0%;
    padding-bottom: 10%;
    padding-right: 15%;
}

.profile-card {
    display: flex;
    flex-direction: row;
    top: -10%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    width: 460px;
    height: 316px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 35%;
    margin-bottom: 7%;
}

.profile-title {
    color: #4293ea;
}

.profile-title-cie {
    color: #a729d2;
}

.profile-img {
    position: absolute;
    margin-left: -8vw;
    margin-top: 1vw;
    height: 22vh;
    border-radius: 50%;
}

.bttn-get-started {
    margin-top: 0;
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 270px;
    padding: 15px 30px;
    border: 3px solid #4293ea;
    background: #ffffff;
    border-radius: 39px;
    color: #4293ea;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    white-space: nowrap;
    transition: 0.3s;
}

.bttn-get-started-cie {
    margin-top: 0;
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 270px;
    padding: 15px 30px;
    border: 3px solid #a729d2;
    background: #ffffff;
    border-radius: 39px;
    color: #a729d2;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    white-space: nowrap;
    transition: 0.3s;
}

.bttn-get-started:hover {
    margin-top: 0;
    box-sizing: border-box;
    background-color: #4293ea;
    font-weight: bold;
    color: white;

    transition: 0.3s;
}

.bttn-get-started:focus {
    background-color: #4293ea;
    color: white;
}

.bttn-get-started:active {
    margin-top: 0;
    box-sizing: border-box;
    background-color: #4293ea;
    color: white;
    transform: translateY(4px);
    transition: 0.3s;
}

.bttn-get-started-cie:hover {
    margin-top: 0;
    box-sizing: border-box;
    background-color: #a729d2;
    font-weight: bold;
    color: white;

    transition: 0.3s;
}

.bttn-get-started-cie:focus {
    background-color: #a729d2;
    color: white;
}

.bttn-get-started-cie:active {
    margin-top: 0;
    box-sizing: border-box;
    background-color: #a729d2;
    color: white;
    transform: translateY(4px);
    transition: 0.3s;
}

/*Phone*/
@media (max-width: 767px) {
    .profiles {
        background-color: #000000;
        border: 1px solid #000000;
    }

    .profiles-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding-top: 0;
        padding: 10% 7%;
    }

    .profile-card {
        display: flex;
        justify-content: center;
        margin-bottom: 7%;
        border-radius: 0px;
        width: 0%;
        height: 0%;
        box-shadow: none;
    }

    .profile-img {
        display: none;
    }

    .profile-title {
        display: none;
    }

    .profile-title-cie {
        display: none;
    }

    .profile-content {
        display: none;
    }

    .profile-text {
        margin: 0;
    }

    .bttn-get-started {
        width: 300px;
        height: 77px;
    }

    .bttn-get-started-cie {
        width: 300px;
        height: 77px;
    }
}

/*Tablet Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
    .profiles-container {
        margin-top: -9%;
        margin-bottom: 0;
        padding-left: 5%;
        padding-top: 0;
        padding-bottom: 10%;
        padding-right: 5%;
    }

    .profile-card {
        flex-direction: column-reverse;
        width: 320px;
        height: 250px;
    }

    .profile-img {
        margin-left: 25vw;
        margin-top: -6vw;
        height: 130px;
        border-radius: 50%;
    }

    .profile-text {
        justify-content: space-around;
        margin-left: 4%;
        margin-right: 4%;
    }
}

/*Tablet Landscape*/
@media only screen and (min-device-width: 901px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .profiles-container {
        margin-top: -5%;
        margin-bottom: 0;
        padding-left: 5%;
        padding-top: 0;
        padding-bottom: 10%;
        padding-right: 5%;
    }

    .profile-card {
        flex-direction: column-reverse;
        width: 320px;
        height: 250px;
    }

    .profile-img {
        margin-left: 25vw;
        margin-top: -6vw;
        height: 130px;
        border-radius: 50%;
    }

    .profile-text {
        justify-content: space-around;
        margin-left: 4%;
        margin-right: 4%;
    }
}

/*Big desktop*/
@media (min-width: 1800px) {
    .profiles-container {
        margin-top: -7vh;
    }
    .profile-img {
        margin-left: -7vw;
        margin-top: 1vw;
        height: 180px;
    }
}
