/*  Flex Version */


.profiles-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    background-color: #e7f2f1;
    padding-left: 7%;
    padding-right: 7%
}

.profile-card {
    position: relative;
    top: -50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 35em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 3em;
    justify-content: space-between;
}

.profile-card-content {
    display: flex;
    height: 15rem;
    align-items: center;
}

.profile-text {
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-around; */
    margin-bottom: 0.5em;
    /* width: 15em; */
    /* margin-left: 30px;
    margin-right: 35%;
    margin-bottom: 7%; */
}

.profile-title-blue {
    color: #4293ea;
}

.profile-title-purple {
    color: #a729d2;
}

/* Typography */

.profile-title-blue, .profile-title-purple {
    font-size: 2rem;
    font-weight: 600;
}

.profile-content {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.profile-img {
    /* position: absolute; */
    /* margin-left: -12vw;
    margin-top: 3vw; */
    width: 15em;
    position: relative;
    left: 30%;
    /* margin-left: 30%; */
} 

.bttn-get-started-blue {
    margin-top: 0;
    box-sizing: border-box;
    padding: 1em 5em;
    border: 3px solid #4293ea;
    background: #ffffff;
    border-radius: 39px;
    color: #4293ea;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 25px;
    white-space: nowrap;
    transition: 0.3s;
}

.bttn-get-started-purple {
    margin-top: 0;
    box-sizing: border-box;
    padding: 1em 5em;
    border: 3px solid #a729d2;
    background: #ffffff;
    border-radius: 39px;
    color: #a729d2;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 25px;
    white-space: nowrap;
    transition: 0.3s;
}

.bttn-get-started-blue:hover {
    margin-top: 0;
    box-sizing: border-box;
    background-color: #4293ea;
    font-weight: bold;
    color: white;

    transition: 0.3s;
}

.bttn-get-started-blue:focus {
    background-color: #4293ea;
    color: white;
}

.bttn-get-starte-blue:active {
    margin-top: 0;
    box-sizing: border-box;
    background-color: #4293ea;
    color: white;
    transform: translateY(4px);
    transition: 0.3s;
}

.bttn-get-started-purple:hover {
    margin-top: 0;
    box-sizing: border-box;
    background-color: #a729d2;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.bttn-get-started-purple:focus {
    background-color: #a729d2;
    color: white;
}

.bttn-get-started-purple:active {
    margin-top: 0;
    box-sizing: border-box;
    background-color: #a729d2;
    color: white;
    transform: translateY(4px);
    transition: 0.3s;
}

@media screen and (max-width: 1500px) {
    /* Typography */
    .profile-content {
        font-size: 1rem;
    }
    .profile-title-blue, .profile-title-purple {
        font-size: 1.5rem;
    }

    .profile-card {
        width: 25em;
    }

    .bttn-get-started-purple, .bttn-get-started-blue {
        font-size: 1rem;
        padding: 1em 4em;
        margin-left: -10%;
    }

    .profile-text {
       width: 25em;
       margin-bottom: 0em;
      
    }
    /* .profile-content{
        margin-left: 5%;
    } */

    .profile-img {
        width: 110%;
        left: 20%;
    }

}

@media screen and (max-width: 1140px) {
    .profile-img {
        width:100%;

    }

    .profile-card {
        height: 20em;

    }
}

@media screen and (max-width: 1050px) {

    .profile-card {
       padding-top: 0;
    }

    .profile-img{
        width: 80%;
    }

    .profile-text {
        padding: 15px;
    }
}

@media screen and (max-width: 945px) {
    .profiles-container {
        position: relative;
        width:110%;
        /* left: -1.8px; */
        top: -20%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 10px 2px ;
        padding-top: 0;
        padding: 10% 7%;
        background-color: black;
    }

    .profile-card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        border-radius: 0px;
        box-shadow: none;
        height: 5em;
        background-color: black;
    }

    .profile-img {
        display: none;
    }

    .profile-title-blue {
        display: none;
    }

    .profile-title-purple {
        display: none;
    }

    .profile-content {
        display: none;
    }

    .profile-text {
        margin: 0;
    }
     bttn-get-started-blue {


    }

    .bttn-get-started-purple {
        width: 340px;
    } 
}

/* Phone */
 @media (max-width: 767px) {
    /* .profiles {
        background-color: #000000;
        border: 1px solid #000000;
    } */

    .profiles-container { 
        /* display: flex;
        flex-direction: column-reverse;*/
        justify-content: center;
        align-items: center; 
 width: 100%;
        /* margin: 10px 2px ;
        padding-top: 0;
        padding: 10% 7%; */
    } 

    .profile-card {
        display: flex;
        justify-content: center; 
        margin-bottom: 2%;
        padding: 0;
        width: 100%;
        /* border-radius: 0px; */
        /* width: 0%;
        height: 0%; */
        /* box-shadow: none; */
        /* background-color: black; */
    } 

    .profile-img {
        display: none;
    }

    .profile-title-blue {
        display: none;
    }

    .profile-title-purple {
        display: none;
    }

    .profile-content {
        display: none;
    }

    .profile-text {
        margin: 0;
    }

    .bttn-get-started-blue {
        /* width: 300px;
        height: 77px; */
        padding: 1em 4em;
    }

    .bttn-get-started-purple {
        /* width: 300px;
        height: 77px; */
        padding: 1em 4em;
    }
} 

/*Tablet Portrait*/
/* @media only screen and (min-device-width: 768px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
    .profiles-container {
        margin-top: -9%;
        margin-bottom: 0;
        padding-left: 5%;
        padding-top: 0;
        padding-bottom: 10%;
        padding-right: 5%;
    }

    .profile-card {
        flex-direction: column-reverse;
        width: 320px;
        height: 250px;
    }

    .profile-img {
        margin-left: 27vw;
        margin-top: 1.5vw;
        width: 13vw;
    }

    .profile-text {
        justify-content: space-around;
        margin-left: 4%;
        margin-right: 4%;
    }
} */

/*Tablet Landscape*/
/* @media only screen and (min-device-width: 901px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .profiles-container {
        margin-top: -5%;
        margin-bottom: 0;
        padding-left: 5%;
        padding-top: 0;
        padding-bottom: 10%;
        padding-right: 5%;
    }

    .profile-card {
        flex-direction: column-reverse;
        width: 320px;
        height: 250px;
    }

    .profile-img {
        margin-left: 21vw;
        margin-top: 0vw;
        width: 13vw;
    }

    .profile-text {
        justify-content: space-around;
        margin-left: 4%;
        margin-right: 4%;
    }
} */

/*Big desktop*/
/* @media (min-width: 1800px) {
    .profiles-container {
        margin-top: -7vh;
    }
    .profile-img {
        margin-left: -7vw;
        margin-top: 1vw;
        height: 180px;
    }
} */
