
.subscribe-container, .subscribe-container-lj {
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 2em;
    margin: 0 auto;
}

.subscribe-container {
    position: relative;
    top: -3rem;
}

.subscribe-container-lj{
    position: relative;
    top: -9rem;
}

.subscribe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    width: 76%;
}

.subscribe-text h1 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 45px;
    color: #0b132a;
    margin-top: 0;
}

.subscribe-text p {
    font-size: 1rem;
    line-height: 30px;
    color: #4f5665;
    margin: 0;
}


.subscribe-btn, .subscribe-btn-talent, .subscribe-btn-company {
    box-sizing: border-box;
    padding: 1em 4.5em;
    background: white;
    border-radius: 39px;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
}

.subscribe-btn {
    border: 3px solid #3bbcb0;
    color: #3bbcb0;
}

.subscribe-btn-talent {
    border: 3px solid #4293ea;
    color: #4293ea;
}

.subscribe-btn-company {
    border: 3px solid #a729d2;
    color: #a729d2;
}

.subscribe-btn:hover, 
.subscribe-btn:focus {
    background-color: #3bbcb0;
    color: white;
}
.subscribe-btn-talent:hover,
.subscribe-btn-talent:focus,
 .subscribe-btn-talent:active{
    background-color: #4293ea;
    color: white;
}

.subscribe-btn-company:hover,
.subscribe-btn-company:focus,
.subscribe-btn-company:active {
    background-color: #a729d2;
    color: white;
}

.subscribe-btn:active, .subscribe-btn-company:active, .subscribe-btn-talent:active {
    color: white;
    transform: translateY(4px);
}

.subscribe-btn:active {
    background-color: #3bbcb0;
}

@media screen and (max-width: 1460px) {
    .subscribe-text h1 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1365px) {
    .subscribe-text h1 {
        font-size: 2rem;
    }
    .subscribe-btn, .subscribe-btn-talent, .subscribe-btn-company {
        padding: 1em 3em
    }
}

@media screen and (max-width: 1240px) {
    .subscribe-container, .subscribe-container-lj {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    .subscribe-container {
        top: -1rem;
    }
    .subscribe-text{
        width: 100%
    }

    .subscribe-btn, .subscribe-btn-talent, .subscribe-btn-company {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 840px) {
    .subscribe-text h1 {
        font-size: 1.7rem;
    }
}