.subscribe-container {
    position: relative;
    top: -1rem;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: auto;
}

.subscribe-container-lj {
    position: relative;
    top: -7rem;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: auto;
}

.subscribe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    width: 70%;
    padding: 30px 50px;
}

.subscribe-text h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #0b132a;
    margin-top: 0;
    max-width: 600px;
}

.subscribe-text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    margin: 0;
}

.subscribe-btn-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

.subscribe-btn {
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 1em 4.5em;
    background: white;
    border: 3px solid #3bbcb0;
    border-radius: 39px;
    color: #3bbcb0;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
}

.subscribe-btn:hover {
    background-color: #3bbcb0;
    color: white;
}

.subscribe-btn:active {
    background-color: #3bbcb0;
    color: white;
    transform: translateY(4px);
}

/*Phone*/
@media (max-width: 767px) {
    .subscribe-container {
        flex-direction: column;
        top: -6vh;
        margin-top: 5%;
    }
    .subscribe-text {
        width: 85%;
        padding-bottom: 0px;
    }
    .subscribe-text h1 {
        font-size: 19px;
        line-height: 25px;
        text-align: justify;
    }
    .subscribe-text p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }
}

/*Tablet Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
    .subscribe-container {
        top: -6vh;
        margin-top: 5%;
    }

    .subscribe-text h1 {
        font-size: 19px;
        line-height: 25px;
    }

    .subscribe-text {
        padding: 4%;
    }
    .subscribe-text p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }
    .subscribe-btn {
        padding: 1em 4.3em;
        margin-right: 15px;
    }
}

/*Tablet Landscape*/
@media only screen and (min-device-width: 901px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .subscribe-container {
        top: -10vh;
        margin-top: 5%;
    }
    .subscribe-text h1 {
        font-size: 19px;
        line-height: 25px;
    }
}
