.rectangle-328 {
position: absolute;
width: 2016px;
height: 579px;
left: -576px;
top: 11px;
background: #232324;
}
.intro-image{
position: absolute;
width: 400px;
height: 258px;
left: 773px;
top: 206px;;
}
