.landingjobs-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 2%;
    text-align: center;
    padding-bottom: 10%;
}

.hidden {
    display: none;
}

/* Jobs Container Display */

.landingjobs-list-title {
    margin: 0, auto;
}

.a-job,
.a-job:focus {
    color: #4293ea;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.a-job::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.7px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #4293ea;
}

.a-talent,
.a-talent:focus {
    color: #a729d2;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.a-talent::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.7px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #a729d2;
}

.landingjobs-items {
    display: flex;
    justify-content: center;
    padding: 3% 2%;
    width: 80%;
}

.job-card {
    width: 25%;
    background-color: #ecf0f5;
    border-radius: 12px;
    margin: 0 2%;
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    box-shadow: 0px 10px 10px -7px rgba(90, 90, 90, 0.349),
        0px 10px 20px -7px rgba(145, 145, 145, 0.438),
        0px 5px 10px -7px rgba(145, 145, 145, 0.438);
}

.job-logo {
    border-radius: 50%;
    background-color: #322626;
    width: 80px;
    height: 80px;
    place-content: center;
    color: white;
}

.job-title,
.company-name,
.location {
    margin: 0;
}

h2.job-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 25%;
    font-weight: bold;
}

.job-description {
    display: flex;
    margin: 10% 5%;
}

div.company-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    padding: 4%;
}

h3.company-name {
    text-align: left;
    margin-bottom: 2%;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

h3.location {
    display: flex;
    justify-content: left;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
}

.bttn-job-details {
    margin-top: 3%;
    padding: 0em 4.5em;
    background: white;
    border: 2px solid #4293ea;
    border-radius: 10px;
    color: #4293ea;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn-job-details:hover,
.bttn-job-details:focus {
    background-color: #4293ea;
    color: white;
}

.bttn-job-details:active {
    background-color: #4293ea;
    color: white;
    transform: translateY(3px);
}

.details-btn {
    background-color: white;
    border: none;
    padding: 10% 50%;
    border-radius: 10px;
    color: #4293ea;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
}

.details-btn:hover,
.details-btn:hover {
    background-color: #4293ea;
    color: white;
}

.details-btn:active {
    background-color: #4293ea;
    color: white;
}

.job-list-link {
    margin: 0 auto;
    padding: 3% 2% 2% 2%;
    font-size: 18px;
    font-weight: bold;
}

/* Talents Container Display */

div.talent-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efe6ed;
    border-radius: 12px;
    margin: 0 5%;
    padding: 2% 15% 2% 15%;
    white-space: nowrap;
    box-shadow: 0px 10px 10px -7px rgba(90, 90, 90, 0.349),
        0px 10px 20px -7px rgba(145, 145, 145, 0.438),
        0px 5px 10px -7px rgba(145, 145, 145, 0.438);
}

.talent-avatar {
    background-color: white;
    border-radius: 50%;
    margin: 2%;
    width: 100px;
    height: 100px;
}

.talent-right-side {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-evenly;
    text-align: left;
    margin: 0 2%;
}

.talent-name {
    font-size: 14px;
    font-weight: 400;
}

.talent-title {
    font-size: 18px;
    font-weight: 700;
}

.talent-experience {
    font-size: 14px;
    font-weight: 600;
}

.talent-title,
.talent-experience,
.talent-name {
    margin: 0;
}

/*Phone*/
/* @media (max-width: 767px) {
    .landingjobs-items {
        flex-direction: column;
        align-items: center;
    }

    .landingjobs-list-title {
        width: 90%;
    }

    .job-card {
        width: 90%;
        margin: 5% 0%;
    }

    .job-title {
        margin-top: 5%;
    }

    div.talent-card {
        padding: 10px;
        margin: 10px;
        width: 200px;
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;
    }
} */

/*Tablet Portrait*/
/* @media only screen and (min-device-width: 768px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
    .landingjobs-list-title {
        width: 90%;
    }
    .landingjobs-items {
        padding: 0;
        width: 80%;
        margin: 3% 0;
    }
    .job-card {
        width: 30%;
        margin: 0% 3%;
    }
    .job-description {
        flex-direction: column;
        align-items: center;
    }

    div.talent-card {
        width: 33%;
        padding: 2% 5% 2% 5%;
    }
} */

/*Tablet Landscape*/
/* @media only screen and (min-device-width: 901px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .landingjobs-list-title {
        width: 90%;
    }
    .landingjobs-items {
        padding: 0;
        width: 80%;
        margin: 3% 0;
    }
    .job-card {
        width: 30%;
        margin: 0% 3%;
    }

    div.talent-card {
        width: 30%;
        padding: 2% 7% 2% 7%;
    }
} */
