.landingjobs-list-container {
    display: grid;
    place-content: center;
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
    padding: 2%;
    text-align: center;
}

.hidden {
    display: none;
}

/* Jobs Container Display */

.landingjobs-list-title {
    margin: 0, auto;
}

a, a:focus {
    color:  #F53838;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    position: relative; 
    transition: all .2s ease-in-out;
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.7px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -5px; 
    background-color:  #F53838;
}

.landingjobs-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-top: 3%;
}

.job-card {
    box-sizing: border-box;
    background-color: #DADADD;
    border-radius: 12px;
    margin: 0 2%;
    padding: 2% 4% 2% 2%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: left;
    grid-gap: 5%;
    align-items: center;
}

.job-logo , .talent-avatar {
    grid-column: 1 / 2;
    grid-row: 1  / 3; 
    border-radius: 50%;
    display: grid;
    width: 100px;
    height: 100%;
    place-content: center;
    color: white;

}

.job-logo {
    background-color: #322626;
}

.job-title, .company-name, .location {
    margin:0;
}

h2.job-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
    font-size: 18px;
    font-weight: bold;
    justify-items: center;
    
}

div.company-location {
    grid-column: 2/3;
    grid-row: 2/3;
    padding:4%
}

h3.company-name {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2%;
}

h3.location {
    grid-column: 2 / 3;
    grid-row: 3 / 4; 
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
}

.bttn-job-details {
    grid-column: 1 / 3;
    grid-row: 3 / 4; 
    margin-top: 3%;
    padding: 0.5em 4.5em;
    background: white;
    border: 2px solid #f53838;
    border-radius: 10px;
    color: #f53838;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
    display: grid;
    place-content: center;
}

.bttn-job-details:hover, .bttn-job-details:focus {
        box-shadow: 
    0 15px 20px 5px #f5383836, 
    0 10px 20px 5px #f538382a;
}

.bttn-job-details:active {
    background-color: white;
    border: 2px solid #f53838;
    color: #f53838;
    box-shadow: 
    0 10px 20px 5px #f5383877;
    transform: translateY(2px);
}



.job-list-link {
    margin: 0 auto;
    padding: 6% 2% 2% 2%;
    font-size: 18px;
    font-weight: bold;

}

/* Talents Container Display */

.job-logo.talent-avatar {
    background-color: white;
}