.landingjobs-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 2%;
    width: 100vw;
    text-align: center;
    padding-bottom: 12rem;
}

.hidden {
    display: none;
}

/* Jobs Container Display */

.landingjobs-list-title {
    margin: 0, auto;
    font-weight: 600;
}

.job-list-link {
    margin: 0 auto;
    /* padding: 3% 2% 2% 2%; */
    font-size: 1.5rem;
    font-weight: 600;
}

.a-job,
.a-job:focus {
    color: #4293ea;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.a-job::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.7px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #4293ea;
}

.a-talent,
.a-talent:focus {
    color: #a729d2;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.a-talent::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.7px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #a729d2;
}

.landingjobs-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 0 3% 0;
    width: 100%;
}

/*  Job Card is a column with the job-description box and the "view more details" button  */
.job-card, div.talent-card {
    width: 35rem;
    border-radius: 12px;
    margin: 1% 2%;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 10px -7px rgba(90, 90, 90, 0.349),
        0px 10px 20px -7px rgba(145, 145, 145, 0.438),
        0px 5px 10px -7px rgba(145, 145, 145, 0.438);
}

.job-card {
    background-color: #ecf0f5;
}


/* Job-description is a row with the job-logo and job-details */
.job-description, .talent-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 1.5rem ;
    margin-bottom: 1rem;
    /* margin: 10% 5%; */
}

.job-logo, .talent-avatar {
    border-radius: 50%;
    background-color: #322626;
    width: 10rem;
    /* height: 80px; */
    color: white;
    font-size: 0.9rem;
}

/* Job-details is a column with job-title, company-name, and location */
div.job-details {
    width: 100%;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

.job-title,
.company-name,
.location {
    margin: 0;
}

h2.job-title, h2.talent-title {
    text-align: left;
    font-size: 1.6rem;
    /* height: 25%; */
    font-weight: 600;
}

h3.company-name, h2.talent-experience {
    text-align: left;
    margin-bottom: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}

h3.location {
    display: flex;
    justify-content: left;
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
}



.bttn-job-details {
    /* margin-top: 3%; */
    width: 90%;
    background: white;
    border: 2px solid #4293ea;
    border-radius: 10px;
    color: #4293ea;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn-job-details:hover,
.bttn-job-details:focus {
    background-color: #4293ea;
    color: white;
}

.bttn-job-details:active {
    background-color: #4293ea;
    color: white;
    transform: translateY(3px);
}

.details-btn {
    background-color: white;
    padding: 1em;
    border: none;
    border-radius: 10px;
    color: #4293ea;
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
}

.details-btn:hover,
.details-btn:focus {
    background-color: #4293ea;
    color: white;
}

.details-btn:active {
    background-color: #4293ea;
    color: white;
}



/* Talents Container Display */

div.talent-card {
    background-color: #efe6ed;
    padding: 1rem;
}


.talent-details {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-evenly;
    text-align: left;
    margin: 0 2%;
}

.talent-name {
    font-size: 14px;
    font-weight: 400;
}

.talent-title {
    font-size: 18px;
    font-weight: 700;
}

/* .talent-experience {
    font-size: 14px;
    font-weight: 600;
} */

.talent-title,
.talent-experience,
.talent-name {
    margin: 0;
}

/*Phone*/
/* @media (max-width: 767px) {
    .landingjobs-items {
        flex-direction: column;
        align-items: center;
    }

    .landingjobs-list-title {
        width: 90%;
    }

    .job-card {
        width: 90%;
        margin: 5% 0%;
    }

    .job-title {
        margin-top: 5%;
    }

    div.talent-card {
        padding: 10px;
        margin: 10px;
        width: 200px;
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;
    }
} */

/*Tablet Portrait*/
/* @media only screen and (min-device-width: 768px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
    .landingjobs-list-title {
        width: 90%;
    }
    .landingjobs-items {
        padding: 0;
        width: 80%;
        margin: 3% 0;
    }
    .job-card {
        width: 30%;
        margin: 0% 3%;
    }
    .job-description {
        flex-direction: column;
        align-items: center;
    }

    div.talent-card {
        width: 33%;
        padding: 2% 5% 2% 5%;
    }
} */

/*Tablet Landscape*/
/* @media only screen and (min-device-width: 901px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .landingjobs-list-title {
        width: 90%;
    }
    .landingjobs-items {
        padding: 0;
        width: 80%;
        margin: 3% 0;
    }
    .job-card {
        width: 30%;
        margin: 0% 3%;
    }

    div.talent-card {
        width: 30%;
        padding: 2% 7% 2% 7%;
    }
} */
