.App {
    background-color: black;
    /* background-color:#e7f2f1; */
}

.App, .App-company, .App-talent {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1rem 1fr 1fr 1fr 1fr 1fr 1rem;
    grid-template-areas: 
        "margin margin margin"
        "intro intro intro"
        "profile profile profile";
}

.intro-component{
    grid-column: 2 / 3;
    grid-row: 2/3;
}


.profiles-component {
    grid-column: 1/4;
    grid-row: 3/4;
}
@media screen and (max-width: 945px) {
    .App {
        grid-template-columns: 1fr;
        grid-template-rows: 1rem 1fr 1fr 1fr 1fr 1fr 1rem;
    }
}

.App-company {
    background-color: #efe6ed;
}

.App-talent {
    background-color: #ecf0f5;
}


