@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    font-family: Montserrat;
}

html,
body {
    overscroll-behavior: none;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

*,
*:focus,
*:hover {
    outline: none;
}

button:hover,
button:focus {
    cursor: pointer;
}
