@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    font-family: Montserrat;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    margin: 0;
    overscroll-behavior: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

*,
*:focus,
*:hover {
    outline: none;
}

button:hover,
button:focus {
    cursor: pointer;
}

  /* * {
    border: 1px solid rebeccapurple;
}       */